
<div class="row">
    <div class="-4u 6u">

        <h3>Find Our Gymnasium Locations</h3><br/>

        <select name="mydropdown" id="addressinput">
            <option value="Cork Street Dublin">Cork Street Dublin</option>
            <option value="Quarry Road, Cabra, Dublin">Quarry Road, Cabra, Dublin</option>
            <option value="Bishopstown Road, Cork">Bishopstown Road, Cork</option>
        </select>
        <input id="Button1" type="button" value="Find" class = "button success" />
    </div>
</div>


<div class="row">
    <div class=-5u 4u">
        <div id="map" style="height: 250px; width: 350px;"></div>
    </div>
</div>
<!-- Footer -->
<div id="footer">
    &copy; GYMFIT. All rights reserved.
</div>
