<!doctype html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <title>Gymnasium App</title>
    <link rel="stylesheet" href="css/app.css"/>
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" href="css/angular2.css"/>
    <link rel="stylesheet" type="text/css" href="css/angular.css"/>
    <link rel="stylesheet" href="./css/vendor/foundation.min.css"/>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>

</head>
<body>
<div id="main" ng-app>
    <div class="container">
        <!-- Header -->
        <div id="header" class="row">
            <div class="12u">
                <nav class="{{active}}">
                    <a href="#/app/view1" ng-click="active='home'" class="home">Home</a>
                    <a href="#/view2" ng-click="active='partialTwo'" class="partialTwo">Partial Two</a>
                    <a href="#/view3" ng-click="active='partialThree'" class="partialThree">Gym Locations</a>
                    <a href="#/view4" ng-click="active='partialFour'" class="partialFour">Partial Four</a>
                    <a href="#/view5" ng-click="active='partialFive'" class="partialFive">Partial Five</a>
                </nav>
            </div>
        </div>
        <!-- Hero -->
        <section id="hero" class = "8u">
            <div ng-view ></div>
        </section>

        <!-- Footer -->
        <div id="footer">
            &copy; Example. All rights reserved.
        </div>
    </div>

    <script src="js/main.js"></script>
    <script src="js/vendor/skel.min.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/angular-route.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/controller.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/vendor/jquery.js"></script>
    <script src="js/app.js"></script>
    <script src="js/vendor/ui-utils.js"></script>
    <script src="js/Converter.js"></script>
    <script src="js/googlemap.js"></script>
    <script src="js/location.js"></script>
</div>
</body>
</html>
